.Button {
    display: inline-block;
    margin-bottom: 0;
    padding: 0 20px;
    padding: 0 rem(20);
    text-align: center;
    font-size: $btnFontSize + px;
    font-size: rem($btnFontSize);
    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
    line-height: 44px;
    line-height: rem(44);
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    background-color: $btnColor;
    color: $btnTxtColor;
    fill: $btnTxtColor;
    border: none;
    box-shadow: none;
    border-radius: rem($btnRound);
    @include vendor-prefix(user-select, none);
    @include vendor-prefix(transition, $brand-transition);

    &:hover {
        background-color: $btnColorHover;
        text-decoration: none;
    }
    &:active {
        background-color: $btnColorActive;
    }
    &:focus {
        outline: none;
    }
}

.Button--border {
    border: 1px solid #ccdae5;
}
.Button--icon {
    vertical-align: -2px !important;
}

.Button--action {
    color: #fff;
    background-color: $btnColorAction;

    &:hover {
        color: #fff;
        background-color: $btnColorActionHover;
    }

    &:active {
        background-color: $btnColorActionActive;
    }
}

.Button--small {
    font-size: $btnSmallFontSize + px;
    font-size: rem($btnSmallFontSize);
    line-height: 34px;
    line-height: rem(34);
}

.Button--full {
    border-radius: 0;
    width: 100%;
}

.Button--sticky-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
}