// Category Unit
//
// The Category Unit
//
// Styleguide 8.0.0

.Category {
	padding: 30px 0 20px;
	padding: rem(30) 0 rem(20);

	@include rwd-b2() {
		padding: 50px 0 20px;
		padding: rem(50) 0 rem(20);
	}
}
.Category-section--centered {
	.Grid-item {
		vertical-align: middle;
	}
}
.Category-section--links {
	border-top: 1px solid $brdrColor;
	padding-top: $double-spacing-unit + px !important;
	padding-top: rem($double-spacing-unit) !important;
	margin-top: 0;
}
	.Category-title {
		margin-bottom: 40px;
		margin-bottom: rem(40);
		@include font-size($mega-size);
		font-weight: normal;
		color: $color6;
		text-align: center;
	}
	.Category-title--product {
		@include font-size($h1-size);
		line-height: 1.25;
		text-align: left;

		@include rwd-b2() {
			text-align: center;
		}
	}
	.Category-section {
		width: 100%;
		max-width: 1000px;
		max-width: rem(1000);
		margin: 0 auto;
		padding: 0 4.5%;

		&:last-child {
			border-bottom: none !important;
		}

		@include rwd-b5() {
			padding: 0;
		}
	}
	.Category-section--striped {
		margin: 0 auto $double-spacing-unit + px;
		margin: 0 auto rem($double-spacing-unit);
		padding: $double-spacing-unit + px $double-spacing-unit + px $base-spacing-unit + px;
		padding: rem($double-spacing-unit) rem($double-spacing-unit) rem($base-spacing-unit);
		background-color: $bgcolorPrimary2;
	}
	.Category-sectionTitle {
		@include font-size($h1-size);
		line-height: 1.25;
		margin-bottom: 0;
		font-weight: normal;
		color: $color4;

		@include rwd-b2() {
			margin-bottom: 20px;
			margin-bottom: rem(20);
		}
	}
	.Category-sectionSubTitle {
		@include font-size($h3-size);
		font-weight: normal;
		color: $color4;
	}
	.Category-sectionCaption {
		display: block;
		max-width: 275px;
		max-width: rem(275);
		margin: $half-spacing-unit + px auto 0;
		margin: rem($half-spacing-unit) auto 0;
		text-align: center;

		p:last-child {
			margin-bottom: 0;
			@include font-size(12);
			line-height: 1.5;
			font-weight: 500;
		}
	}
	.Category-contentHeading {
		margin-bottom: 0;
		font-size: $base-font-size + px;
		font-size: rem($base-font-size);
		font-weight: 400;
	}
	.Category-image {
		display: block;
		max-width: 100%;
		margin: 0 auto;
		padding: 20px 0;
		padding: rem(20) 0;
	}
	.Category-image--product {
		margin-top: 0;
		padding: 0;

		&+.Category-contentHeading {
			margin-top: $base-spacing-unit + px;
			margin-top: rem($base-spacing-unit);
		}
	}
	.Category-caption {
		font-size: $micro-size + px;
		font-size: rem($micro-size);
	}

.Category--stripe {
	background-color: $bgcolorPrimary2;
	border-top: 1px solid $brdrColor;
	border-top: rem(1) solid $brdrColor;
}