body {
	font-weight: 300;
}

.PageHeader {
	position: relative;
	width: 100%;
	background: $bgcolorPrimary1;
}
	.PageHeader-inner {
		display: table;
		width: 100%;
		max-width: 1200px;
		max-width: rem(1200);
		margin: 0 auto;
		padding: $half-spacing-unit + px;
		padding: rem($half-spacing-unit);
	}
	.PageHeader-column {
		display: table-cell;
		width: 33.3%;
		vertical-align: middle;
		text-align: right;

		&:first-child {
			text-align: left;

			@include rwd-b2() {
				display: none;
			}
		}

		&:last-child {
			white-space: nowrap;

			@include rwd-b2() {
				width: 100%;
			}
		}
	}
	.PageHeader-column--logo {
		text-align: center;
		width: 10000px;
		width: rem(10000);
		text-align: center;

		@include rwd-b2() {
			display: none;
			text-align: left;
		}
	}

	.Topnav {}
		.Topnav-item {
			line-height: 1;
			margin: 0;
			padding: 0 !important;

			> a {
				display: block;
				padding: 0 10px;
				color: #fff;
				fill: #fff;
				font-size: $micro-size + px;
				font-size: rem($micro-size);
				text-transform: uppercase;
			}
		}

	.PageHeader-logo {
		width: rem(112.5);
		height: rem(22.5);
		display: inline-block;
		vertical-align: middle;
		margin: 0;
		background-image: url(../svg/logo-keystone-white.svg);

		span {
			@extend %visuallyHidden
		}

		.no-svg & {
			width: 112px;
			height: 22px;
			// background-image: url(../images/logo-keystone-white.png);
			background-size: cover;
			filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
			src='images/logo-keystone-white.png',
			sizingMethod='scale');
		}
	}

	.Topnav-menuButton {
		text-decoration: none;
		color: #fff;
	}

.MainNav {
	width: 100%;
	background-color: #fff;

	@include rwd-b2() {
		border-bottom: 1px solid $brdrColor;
	}
}
	.MainNav-inner {
		max-width: 1200px;
		max-width: rem(1200);
		margin: 0 auto;

		@include rwd-b2() {
			padding: 20px 5px;
			padding: rem(20) rem(5);
			text-align: center;
		}

		.PageHeader-logo {
			display: none;
			background-image: url(../svg/logo-keystone.svg);
			margin: 0;

			@include rwd-b2() {
				display: inline-block;
				width: rem(225);
				height: rem(45);
				margin: 0 $base-spacing-unit + px;
				margin: 0 rem($base-spacing-unit);

				.no-svg & {
					width: 225px;
					height: 44px;
					background-image: url(../images/logo-keystone.png);
					background-size: cover;
					filter: none;
				}
			}
		}
	}
	.MainNav-list {
		position: relative;
		width: 100%;
		margin: 0;
		background: #eee;
		border-bottom: 1px solid #ccc;
		border-bottom: rem(1) solid #ccc;

		@include rwd-b1() {
			border-bottom: none;
		}

		@include rwd-b2() {
			display: inline-block;
			background: #fff;
			margin-top: 5px;
			margin-top: rem(5);
		}

		@include rwd-b4() {
			text-align: right;
		}
	}
		.MainNav-listItem {
			position: relative;
			padding: 0 !important;
			width: 50%;
			text-align: center;
			margin: 0;

			> a {
				position: relative;
				display: block;
				padding: 20px 15px;
				padding: rem(20) rem(15);
				color: #4d6f95;
				font-weight: bold;
			}

			.is-selected {
				background: #fff;
				border-right: 1px solid $brdrColorDark;
				border-bottom: 1px solid #fff;
				bottom: -1px;
				bottom: rem(-1);

				@include rwd-b2() {
					// background-color: #f5f8fa;
				}
			}

			@include rwd-b2() {
				width: auto;
				text-align: left;

				.is-selected {
					background-color: #fff;
					border: none;
					// border-bottom: 2px solid #f7a5b0;
					bottom: auto;
				}

				.is-active {
					z-index: 11;
					background-color: #f5f8fa;
					outline: 1px solid $brdrColor;
					outline-bottom: 1px solid transparent;
					bottom: auto;
					padding-bottom: 20px;
				}	

				> a {
					padding: 10px;
					padding: rem(10);
				}
			}

			@include rwd-b4() {

				> a {
					padding: 10px 15px;
					padding: rem(10) rem(15);
				}
			}
		}
		// ADD TRANSITION EFFECT
		.SubNav {
			position: relative;
			z-index: 10;
			top: -1px;
			// margin-bottom: -52px;
			width: 100%;
			background-color: #f5f8fa;
			margin-top: -20px;
			margin-top: rem(-20);
			padding: 20px 0;
			padding: rem(20) 0;
			border-top: 1px solid $brdrColor;
			border-bottom: 1px solid $brdrColor;
			box-shadow: 0 1px 1px rgba(0,0,0,.18);
		}
			.SubNav-inner {
				max-width: 1200px;
				max-width: rem(1200);
				margin: 0 auto;
			}

.PageFooter {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 20px 15px 0;
	padding: rem(20) rem(15) 0;
	background-color: #f9fafc;
	border-top: 1px solid #dee4eb;
	border-top: rem(1) solid #dee4eb;
	@include font-size(12);
	color: #666;

	a {
		color: $color3;
	}

	.Grid {
		max-width: 1200px;
		max-width: rem(1200);
		margin: 0 auto;
	}

	@include rwd-b3() {
		padding: 40px 15px 0;
		padding: rem(40) rem(15) 0;

		.PageFooter-list {
			margin-left: 0;
		}
			.PageFooter-listItem {
				display: block;

				a {
					padding: 0;
				}
			}
	}	
}
	.PageFooter-list {
		list-style-type: none;
		margin: 0 0 $base-spacing-unit+px -5px;
		margin: 0 0 rem($base-spacing-unit) rem(-5);
	}
		.PageFooter-listItem {
			display: inline-block;
			margin: 0 0 4px;
			margin: 0 0 rem(4);
			@include font-size($milli-size);

			a {
				padding: 8px;
				padding: rem(8);
			}

			@include rwd-b4() {
				@include font-size($centi-size);
			}
		}
	.PageFooter-heading {
		@include font-size($h5-size);
		margin-bottom: 8px;
		margin-bottom: rem(8);
		color: $color3;

		@include rwd-b3Max() { 
			margin-bottom: 0;
		}

		@include rwd-b4() {
			@include font-size($h4-size);
		}
	}
	.PageFooter-contact {
		@include font-size($milli-size);

		@include rwd-b4() {
			@include font-size($centi-size);
		}
	}