.LinkBar {
	margin-bottom: $double-spacing-unit + px;
	margin-bottom: rem($double-spacing-unit);
	font-size: 0;
}
	.LinkBar-item {
		display: inline-block;
		margin-bottom: 10px;
		margin-bottom: rem(10);
		padding: 0 10px;
		padding: 0 rem(10);
		@include font-size($centi-size);
		font-weight: 400;
		border-left: 1px solid #ccc;
		line-height: 1;

		&:first-of-type {
			margin-left: -10px;
			margin-left: -rem(-10);
			border-left: none;
		}

		@include rwd-b2() {
			margin-bottom: 0;
			@include font-size($h4-size);
		}
	}
	.LinkBar-heading {
		margin-bottom: $half-spacing-unit + px;
		margin-bottom: rem($half-spacing-unit);
	}