.List {}
	.List-item-count {
		padding-left: 4px;
		padding-left: rem(4);
		font-size: $milli-size +px;
		font-size: rem($milli-size);
		color: #aab6c0;
	}
	.List-heading {
		padding: $half-spacing-unit + px;
		padding: rem($half-spacing-unit);
		color: $color3;
		@include font-size($base-font-size);
		font-weight: bold;
		background-color: $bgcolorPrimary2;
	}

.List--checkbox {
	margin: $base-spacing-unit + px;
	margin: rem($base-spacing-unit);
	list-style: none;

	.List--checkbox {
		margin: $half-spacing-unit+px 0 $half-spacing-unit*-1+px 28px;
		margin: rem($half-spacing-unit) 0 rem(-$half-spacing-unit) 28px;
	}

	.List-item {
		margin: 0;
		padding-bottom: $half-spacing-unit +px;
		padding-bottom: rem($half-spacing-unit);
		@include font-size($centi-size);
		color: #4d6f95;
	}
}

.List--menu {
	list-style: none;

	.List-item {
		margin: 0;

		> a {
			display: block;
			padding: $half-spacing-unit + px;
			padding: rem($half-spacing-unit);
			color: $color3;
			font-weight: bold;
		}

		&.is-selected {

			> a {
				background-color: $bgcolorPrimary2;
				cursor: default;
				
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}

.List--filter {
	margin-bottom: $base-spacing-unit + px;
	margin-bottom: rem($base-spacing-unit);

	.List-item {
		padding-left: $base-spacing-unit + px;
		padding-left: rem($base-spacing-unit);
		@include font-size(14);
		font-weight: normal;
		color: #aab6c0;
	}

	.List-heading {
		@include font-size($base-font-size);
		color: $color3;
	}
}