.Modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;

  &:before {
    content: '' !important;
    display: inline-block !important;
    height: 100% !important;
    vertical-align: middle !important;
  }
}
  .Modal-inner {
    position: relative;
    display: inline-block !important;
    vertical-align: middle !important;
    min-width: 350px;
    min-width: rem(350);
    max-width: 95%;
    max-height: 95%;
    margin: 0 auto;
    padding: $base-spacing-unit + px;
    padding: rem($base-spacing-unit);
    background: #fff;
    border-radius: 4px;
    border-radius: rem(4);
    box-shadow: rem(5) rem(5) 0 rgba(57, 72, 86, 0.5);
    text-align: left;
    overflow: auto;
  }

  .Modal-close {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: transparent;
    fill: #ccdae5;

    &:hover {
      fill: darken(#ccdae5,10%);
    }
  }

  .Modal-heading {
    margin-bottom: 12px;
    margin-bottom: rem(12);
    @include font-size($h3-size);
    color: $color3;
  }
  .Modal-actions {
    margin-top: 12px;
    margin-top: rem(12);
    padding-bottom: 0;
    text-align: right;
  }
  .Modal--hidden {
    display: none;
    visibility: hidden;
  }

.Modal-fullScreen {
  &:before {
    content: none !important;
  }

  .Modal-inner {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .Modal-heading {
    background-color: #f7f9fb;
    margin: -$base-spacing-unit + px -$base-spacing-unit + px $base-spacing-unit + px;
    margin: rem(-$base-spacing-unit) rem(-$base-spacing-unit) rem($base-spacing-unit);
    padding: $half-spacing-unit + px $base-spacing-unit + px;
    padding: rem($half-spacing-unit) rem($base-spacing-unit);
    border-bottom: 1px solid #e7ecf1;
  }

  .Modal-close {
    top: 7px;
    top: rem(7);
    right: 7px;
    right: rem(7);
  }
}