// Offcanvas
//
// The offcanvas component is a menu that slides in from the side when a trigger is clicked.
//
// Styleguide 6.0.0

.Offcanvas {
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 260px;
    width: rem(260);
    overflow-x: none;
    overflow-y: auto;
    padding: 25px 0;
    padding: rem(25) 0;
    background: $bgcolorPrimary4;

    .sidr-inner {
        padding: 0 0 15px;
        padding: 0 0 rem(25);
    }

    &.right {
        left: auto;
        right: -260px;
        right: rem(-260);
    }

    &.left {
        left: -260px;
        left: rem(-260);
        right: auto;
    }
}
    .Offcanvas-menu {
        list-style: none;
    }
        .Offcanvas-menuItem {
            position: relative;
            margin: 0;
            padding: 0 25px;
            padding: 0 rem(25);

            > a {
                position: relative;
                z-index: 1;
                display: block;
                padding: 15px 0;
                padding: rem(15) 0;
                border-bottom: 1px solid #727c85;
                color: #fff;
            }

            &:hover,
            &:active {
                background-color: $bgcolorPrimary5;
                z-index: 2;
                margin-top: -1px;
                padding-top: 1px;

                > a {
                    text-decoration: none;
                    border-bottom: 1px solid transparent;
                }
            }
        }