.ProductNav {
	width: 100%;
	border-bottom: 5px solid #f9c7cd;
	background-color: #fff;
	background-color: rgba(255,255,255,.95);
	z-index: 103;
}
	.ProductNav-inner {
		max-width: 1000px;
		max-width: rem(1000);
		margin: 0 auto;
		text-align: center;

		@include rwd-b1() {
			padding: 0 4.5%;
			text-align: left;
		}

		@include rwd-b5() {
			padding: 0;
		}
	}
	.ProductNav-item {
		position: relative;
		display: inline-block;
		padding: $half-spacing-unit + px 12px;
		padding: rem($half-spacing-unit) rem(12);
		font-size: $base-font-size + px;
		font-size: rem($base-font-size);
		font-weight: 400;
		color: $color4;

		@include rwd-b2() {
			margin-right: 24px;
			margin-right: rem(24);
			font-size: $h3-size + px;
			font-size: rem($h3-size);
		}

		@include rwd-b3() {
			margin-right: 78px;
			margin-right: rem(78);
		}

		@include rwd-b4() {
			margin-right: 100px;
			margin-right: rem(100);
		}

		&.is-selected {

			&:after {
				content: " ";
				position: absolute;
				bottom: -25px;
				bottom: -rem(-25);
				left: 50%;
				height: 20px;
				height: rem(20);
				width: 20px;
				width: rem(20);
				margin-left: -10px;
				margin-left: rem(-10);
				border: 10px solid transparent;
				border: rem(10) solid transparent;
				border-top: 10px solid #f9c7cd;
				border-top: rem(10) solid #f9c7cd;
			}
		}
	}
	.ProductNav-share {
		float: right;
		padding: 12px 10px 0 0;
		padding: rem(12) rem(10) 0 0;
	}