// Borders
//
// These utility classes allow us to add borders on any or all sides of an element, change the border style, border thickness, and border color. Additionally, we can add a standard border radius.
// 
// Lastly, these utility classes can also be used responsively with the breakpoints. For example, <code>&lt;div class="b3-u-border">&lt;/div></code> would only add a border above a 1000px viewport width.
// 
// Markup: <div class="u-padding u-marginBottom u-border">u-border</div>
// <div class="u-padding u-marginBottom u-borderTop">u-borderTop</div>
// <div class="u-padding u-marginBottom u-borderRight">u-borderRight</div>
// <div class="u-padding u-marginBottom u-borderBottom">u-borderBottom</div>
// <div class="u-padding u-marginBottom u-borderLeft">u-borderLeft</div>
// <div class="u-padding u-marginBottom u-borderSides">u-borderSides</div>
// <div class="u-padding u-marginBottom u-borderEnds">u-borderEnds</div>
// <div class="u-padding u-marginBottom u-border u-borderDashed">u-borderDashed</div>
// <div class="u-padding u-marginBottom u-border u-borderDotted">u-borderDotted</div>
// <div class="u-padding u-marginBottom u-border u-borderThick">u-borderThick</div>
// <div class="u-padding u-marginBottom u-border u-borderDark">u-borderDark</div>
// <div class="u-padding u-marginBottom u-border u-borderRounded">u-borderRounded</div>
// <div class="u-padding u-marginBottom u-border u-borderRoundedTop">u-borderRoundedTop</div>
// <div class="u-padding u-marginBottom u-border u-borderRoundedBottom">u-borderRoundedBottom</div>
// <div class="u-padding u-marginBottom u-border u-borderRoundedLeft">u-borderRoundedLeft</div>
// <div class="u-padding u-marginBottom u-border u-borderRoundedRight">u-borderRoundedRight</div>
// 
// Styleguide 2.9.0

@mixin border-setup($namespace: "") {
	.#{$namespace}u-border       { border: 1px solid $brdrColor; border: rem(1) solid $brdrColor; }
	.#{$namespace}u-borderTop    { border: 0; border-top: 1px solid $brdrColor; border-top: rem(1) solid $brdrColor; }
	.#{$namespace}u-borderRight  { border: 0; border-right: 1px solid $brdrColor; border-right: rem(1) solid $brdrColor; }
	.#{$namespace}u-borderBottom { border: 0; border-bottom: 1px solid $brdrColor; border-bottom: rem(1) solid $brdrColor; }
	.#{$namespace}u-borderLeft   { border: 0; border-left: 1px solid $brdrColor; }
	.#{$namespace}u-borderSides  { border: 0; border-right: 1px solid $brdrColor; border-right: rem(1) solid $brdrColor; border-left: 1px solid $brdrColor; border-left: rem(1) solid $brdrColor; }
	.#{$namespace}u-borderEnds   { border: 0; border-top: 1px solid $brdrColor; border-top: rem(1) solid $brdrColor; border-bottom: 1px solid $brdrColor; border-bottom: rem(1) solid $brdrColor; }

	.#{$namespace}u-borderSolid  { border-style: solid; }
	.#{$namespace}u-borderDashed { border-style: dashed; }
	.#{$namespace}u-borderDotted { border-style: dotted; }

	.#{$namespace}u-borderThick  { border-width: 2px; border-width: rem(2); }

	.#{$namespace}u-borderDark   { border-color: $brdrColorDark; }

	.#{$namespace}u-borderRounded   { border-radius: $brand-round + px; border-radius: rem($brand-round); }
	.#{$namespace}u-borderRoundedTop   { border-radius: $brand-round + px $brand-round + px 0 0; border-radius: rem($brand-round) rem($brand-round) 0 0; }
	.#{$namespace}u-borderRoundedBottom   { border-radius: 0 0 $brand-round + px $brand-round + px; border-radius: 0 0 rem($brand-round) rem($brand-round); }
	.#{$namespace}u-borderRoundedLeft   { border-radius: $brand-round + px 0 0 $brand-round + px; border-radius: rem($brand-round) 0 0 rem($brand-round); }
	.#{$namespace}u-borderRoundedRight   { border-radius: 0 $brand-round + px $brand-round + px 0; border-radius: 0 rem($brand-round) rem($brand-round) 0; }

	.#{$namespace}u-borderNone {
		border: none;
	}
}

@include border-setup();

@media only screen and (min-width:$breakpoint1) {
    @include border-setup("b1-");
}

@media only screen and (min-width:$breakpoint2) {
    @include border-setup("b2-");
}

@media only screen and (min-width:$breakpoint3) {
    @include border-setup("b3-");
}

@media only screen and (min-width:$breakpoint4) {
    @include border-setup("b4-");
}