/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items over to the right by certain amounts.
 */

@mixin pull-setup($namespace: "") {

    //Halves
    .#{$namespace}u-pull1of2           { right:50% !important; }


    //Thirds
    .#{$namespace}u-pull1of3           { right:33.333% !important; }
    .#{$namespace}u-pull2of3           { right:66.666% !important; }


    //Quarters
    .#{$namespace}u-pull1of4           { right:25% !important; }
    .#{$namespace}u-pull2of4           { @extend .#{$namespace}u-pull1of2; }
    .#{$namespace}u-pull3of4           { right:75% !important; }


    //Fifths
    .#{$namespace}u-pull1of5           { right:20% !important; }
    .#{$namespace}u-pull2of5           { right:40% !important; }
    .#{$namespace}u-pull3of5           { right:60% !important; }
    .#{$namespace}u-pull4of5           { right:80% !important; }


    //Sixths
    .#{$namespace}u-pull1of6           { right:16.666% !important; }
    .#{$namespace}u-pull2of6           { @extend .#{$namespace}u-pull1of3; }
    .#{$namespace}u-pull3of6           { @extend .#{$namespace}u-pull1of2; }
    .#{$namespace}u-pull4of6           { @extend .#{$namespace}u-pull2of3; }
    .#{$namespace}u-pull5of6           { right:83.333% !important; }


    //Eighths
    .#{$namespace}u-pull1of8           { right:12.5% !important; }
    .#{$namespace}u-pull2of8           { @extend .#{$namespace}u-pull1of4; }
    .#{$namespace}u-pull3of8           { right:37.5% !important; }
    .#{$namespace}u-pull4of8           { @extend .#{$namespace}u-pull2of4; }
    .#{$namespace}u-pull5of8           { right:62.5% !important; }
    .#{$namespace}u-pull6of8           { @extend .#{$namespace}u-pull3of4; }
    .#{$namespace}u-pull7of8           { right:87.5% !important; }


    //Tenths
    .#{$namespace}u-pull1of10          { right:10% !important; }
    .#{$namespace}u-pull2of10          { @extend .#{$namespace}u-pull1of5; }
    .#{$namespace}u-pull3of10          { right:30% !important; }
    .#{$namespace}u-pull4of10          { @extend .#{$namespace}u-pull2of5; }
    .#{$namespace}u-pull5of10          { @extend .#{$namespace}u-pull1of2; }
    .#{$namespace}u-pull6of10          { @extend .#{$namespace}u-pull3of5; }
    .#{$namespace}u-pull7of10          { right:70% !important; }
    .#{$namespace}u-pull8of10          { @extend .#{$namespace}u-pull4of5; }
    .#{$namespace}u-pull9of10          { right:90% !important; }
}

/**
 * Not a particularly great selector, but the DRYest way to do things.
 */

@include pull-setup();

@media only screen and (min-width:$breakpoint1) {
    @include pull-setup("b1-");
}

@media only screen and (min-width:$breakpoint2) {
    @include pull-setup("b2-");
}

@media only screen and (min-width:$breakpoint3) {
    @include pull-setup("b3-");
}

@media only screen and (min-width:$breakpoint4) {
    @include pull-setup("b4-");
}