/*------------------------------------*\
    $Push
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the left by certain amounts.
 */

@mixin push-setup($namespace: "") {

    //Halves
    .#{$namespace}u-push1of2           { left:50% !important; }


    //Thirds
    .#{$namespace}u-push1of3           { left:33.333% !important; }
    .#{$namespace}u-push2of3           { left:66.666% !important; }


    //Quarters
    .#{$namespace}u-push1of4           { left:25% !important; }
    .#{$namespace}u-push2of4           { @extend .#{$namespace}u-push1of2; }
    .#{$namespace}u-push3of4           { left:75% !important; }


    //Fifths
    .#{$namespace}u-push1of5           { left:20% !important; }
    .#{$namespace}u-push2of5           { left:40% !important; }
    .#{$namespace}u-push3of5           { left:60% !important; }
    .#{$namespace}u-push4of5           { left:80% !important; }


    //Sixths
    .#{$namespace}u-push1of6           { left:16.666% !important; }
    .#{$namespace}u-push2of6           { @extend .#{$namespace}u-push1of3; }
    .#{$namespace}u-push3of6           { @extend .#{$namespace}u-push1of2; }
    .#{$namespace}u-push4of6           { @extend .#{$namespace}u-push2of3; }
    .#{$namespace}u-push5of6           { left:83.333% !important; }


    //Eighths
    .#{$namespace}u-push1of8           { left:12.5% !important; }
    .#{$namespace}u-push2of8           { @extend .#{$namespace}u-push1of4; }
    .#{$namespace}u-push3of8           { left:37.5% !important; }
    .#{$namespace}u-push4of8           { @extend .#{$namespace}u-push2of4; }
    .#{$namespace}u-push5of8           { left:62.5% !important; }
    .#{$namespace}u-push6of8           { @extend .#{$namespace}u-push3of4; }
    .#{$namespace}u-push7of8           { left:87.5% !important; }


    //Tenths
    .#{$namespace}u-push1of10          { left:10% !important; }
    .#{$namespace}u-push2of10          { @extend .#{$namespace}u-push1of5; }
    .#{$namespace}u-push3of10          { left:30% !important; }
    .#{$namespace}u-push4of10          { @extend .#{$namespace}u-push2of5; }
    .#{$namespace}u-push5of10          { @extend .#{$namespace}u-push1of2; }
    .#{$namespace}u-push6of10          { @extend .#{$namespace}u-push3of5; }
    .#{$namespace}u-push7of10          { left:70% !important; }
    .#{$namespace}u-push8of10          { @extend .#{$namespace}u-push4of5; }
    .#{$namespace}u-push9of10          { left:90% !important; }
}

/**
 * Not a particularly great selector, but the DRYest way to do things.
 */

@include push-setup();

@media only screen and (min-width:$breakpoint1) {
    @include push-setup("b1-");
}

@media only screen and (min-width:$breakpoint2) {
    @include push-setup("b2-");
}

@media only screen and (min-width:$breakpoint3) {
    @include push-setup("b3-");
}

@media only screen and (min-width:$breakpoint4) {
    @include push-setup("b4-");
}